<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <!--footer-->
  <footer th:fragment="footer">
    <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
        <p>2024 &copy; JaySyat Dev</p>
      </div>
      <div class="float-end">
        <p>Fait avec <span class='text-danger'><i data-feather="heart"></i></span> by <a href="#">Saiba</a></p>
      </div>
    </div>
  </footer>
</body>
</html>