<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HEAL-AFRICA | Dashboard</title>
</head>
<body>
  <div class="main-content container-fluid" th:fragment="heal_content">
      <div class="page-title">
        <h3>HEAL AFRICA</h3>
      </div>
      <section class="section">
        <div class="row mb-2 text-white">
          <div class="col-12 col-md-3">
            <div class="d-flex flex-column px-3 py-3 justify-content-between" style="background-color: #fdbd67">
              <h4 class='card-title'>PATIENTS</h4>
              <div class="card-right d-flex align-items-center">
                <!--UPDATE DATA DYNAMICALLY FROM DATABASE-->
                <h3 class="text-white">1000</h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="d-flex flex-column px-3 py-3 justify-content-between" style="background-color: #828d99">
              <h4 class='card-title'>PERSONEL SOIGNANT</h4>
              <div class="card-right d-flex align-items-center">
                <!--UPDATE DATA DYNAMICALLY FROM DATABASE-->
                <h3 class="text-white">1000</h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="d-flex flex-column px-3 py-3 justify-content-between" style="background-color: #4d93da">
              <h4 class='card-title'>MEDCIN SPECIALIST </h4>
              <div class="card-right d-flex align-items-center">
                <!--UPDATE DATA DYNAMICALLY FROM DATABASE-->
                <h3 class="text-white">1000</h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
              <div class="d-flex flex-column px-3 py-3 justify-content-between" style="background-color: #4dde96">
                <h4 class='card-title'>TRANSFERT</h4>
                <div class="card-right d-flex align-items-center">
                  <!--UPDATE DATA DYNAMICALLY FROM DATABASE-->
                  <h3 class="text-white">1000</h3>
                </div>
            </div>
          </div>
          <div class="dataTable-container" style="background: #ffffff; padding: 10px; border-radius: 10px; margin-top: 40px;">
            <div id="exTab1" class="container">
              <ul class="nav nav-pills">
                <li class="active">
                  <a href="#patientTab" data-toggle="tab" style="padding: 10px; margin-right: 10px">Patient Table</a>
                </li>
                <li>
                  <a href="#transferredPatientTab" data-toggle="tab" style="padding: 10px">Table des patient transferrer</a>
                </li>
              </ul>

              <div class="tab-content clearfix">
                <!-- Patient Table Tab -->
                <div class="tab-pane active" id="patientTab">
                  <h3>Patient Table</h3>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Date of Birth</th>
                      <th>Gender</th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Status Du Patient</th>
                    </tr>
                    </thead>
                    <tbody id="transferredPatientTabs">
                    <tr th:each="patient : ${patientsHealAfrica}" id="row-inserted">
                      <td th:text="${patient.healAfricaPatientId}"></td>
                      <td th:text="${patient.firstName}"></td>
                      <td th:text="${patient.lastName}"></td>
                      <td th:text="${patient.dateOfBirth}"></td>
                      <td th:text="${patient.patientGender}"></td>
                      <td th:text="${patient.address}"></td>
                      <td th:text="${patient.patientEmail}"></td>
                      <td>
                        <span class="badges bg-lightgreen" th:if="${patient?.istransferred}">Transferred</span>
                        <span class="badges" th:class="${patient.istransferred ? 'bg-lightgreen' : 'bg-lightred'}">
    <a th:href="@{/heal/transfer/{patientId}(patientId=${patient.healAfricaPatientId})}"
       th:onclick="|transferPatient(event, ${patient.healAfricaPatientId})|"
       th:text="${patient.istransferred ? 'Transferred' : 'Not Transferred'}"></a>
</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Transferred Patient Table Tab -->
                <div class="tab-pane" id="transferredPatientTab">
                  <h3>Transferred Patient Table</h3>
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Date of Birth</th>
                      <th>Gender</th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Status Du Patient</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${transfered}" >
                      <td th:text="${patient.hgrGomaPatientId}"></td>
                      <td th:text="${patient.firstName}"></td>
                      <td th:text="${patient.lastName}"></td>
                      <td th:text="${patient.dateOfBirth}"></td>
                      <td th:text="${patient.patientGender}"></td>
                      <td th:text="${patient.address}"></td>
                      <td th:text="${patient.patientEmail}"></td>
                      <td>
                        <span class="badges bg-lightgreen" th:if="${patient?.istransferred}">Transferred</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>


</body>
</html>