<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HGR-Goma - Patient</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/register_hospital_styles.css}">
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-7 col-sm-12 mx-auto">
      <div class="card pt-4">
        <div class="card-body">
          <div class="text-center mb-5">
            <img th:src="@{/images/favicon-2.svg}" height="48" class='mb-4'>
            <h3>Enregister Patient</h3>
            <p>Completer le formulaire.</p>
          </div>
          <form th:action="@{/hgrgoma}" th:object="${patientHGRGoma}" method="post">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName" class="form-label">Nom</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" aria-describedby="emailHelp">
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName" class="form-label">Postnom</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" aria-describedby="emailHelp">
              </div>
              <div class="col-md-6 mb-3">
                <label for="dateOfBirth" class="form-label">Date de Naissance</label>
                <input type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}" aria-describedby="emailHelp">
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="patientSexe">Genre</label>
                  <select class="form-select" th:field="*{patientGender}" id="patientSexe">
                    <option th:value="M">Masculin</option>
                    <option th:value="F">Feminin</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="address">Adresse</label>
                <select class="form-select" th:field="*{address}" id="address">
                  <option th:value="Goma">Goma</option>
                  <option th:value="Karisimbi">Karisimbi</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="patientMail" class="form-label">Email</label>
                <input type="email" class="form-control" id="patientMail" th:field="*{patientEmail}" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a th:href="@{/hgrgomadashboard}" class="btn btn-secondary">Retour</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>